@import "globals";
@import "variables";
@import "mixin";
@import "breakpoint";

.sect-about {
	.container {
		.about-info {
			color: #fff;
			.title {
				margin-bottom: 45px;
				h1 {
					font-size: 45px;
					font-weight: 700;
					margin-bottom: 10px;
				}
				p {
					font-size: 15px;
					font-weight: 400;
					letter-spacing: 1px;
				}
			}
			.info-event {
				margin-bottom: 50px;
				.items-event {
					.icon {
						background-color: rgba(214, 55, 127, 0.4);
						@include display-item(flex,center,center);
						width: 45px;
						height: 45px;
						border-radius: 50%;
						svg {
							font-size: 25px;
							color: $colorPink;
						}
					}
					.events {
						h3 {
							color: #fff;
							font-size: 15px;
							margin-bottom: 5px;
							letter-spacing: 1.2px;
						}
						p {
							color: #CECECF;
							font-weight: 400;
							font-size: 14px;
						}
					}
				}
			}
			.items-btn {
				.learn-more {
					border: 1px solid #fff  !important;
					padding: 5px 19px;
					font-weight: 500;
					border-radius: 5px;
					color: #fff;
				}
			}
		}
		.items-profile {
			.profile-about-1 {
				position: relative;
				img:nth-child(1) {
					border-radius: 12px;
				}
				img:nth-child(2) {
					position: absolute;
					bottom: 95px;
					left: -90px;
					z-index: -10;
				}
			}
			.profile-about-2 {
				position: relative;
				img:nth-child(1) {
					border-radius: 12px;
				}
				img:nth-child(2) {
					border-radius: 12px;
				}
			}
		}
	}
}

@include responsive(mobile) {
	.sect-about {
		.container {
			img {
				margin-top: 20px !important;
			}
			.about-info {
				.title {
					margin: 10px 0 45px ;
					h1 {
						font-size: 33px;
						line-height: 1.4;
						margin-bottom: 20px;
					}
				}
				.info-event {
					margin-bottom: 50px;
					gap: 10px !important;
					justify-content: space-between;
					.items-event {
						.icon {
							width: 35px;
							height: 28px;
							svg {
								font-size: 14px;
							}
						}
						.events {
							h3 {
								font-size: 15px;
								margin-bottom: 0;
							}
							p {
								font-size: 13px !important;
							}
						}
					}
				}
				.items-btn {
					margin-bottom: 50px;
					.learn-more {
						padding: 5px 17px;
					}
				}
			}
			.items-profile {
				.profile-about-1 {
					position: relative;
					display: flex;
					justify-content: start;
					img:nth-child(1) {
						width: 80%;
					}
					img:nth-child(2) {
						position: absolute;
						bottom: 55px;
						left: auto; 
						z-index: -10;
						transform: rotate(180deg);
						right: 0;
					}
				}
				.profile-about-2 {
					position: relative;
					margin-top: 50px;
					img:nth-child(1) {
						border-radius: 12px;
						margin-bottom: 13px !important;
					}
					img:nth-child(2) {
						border-radius: 15px;
						float: right;
						display: flex;
						width: 80%;
					}
				}
			}
		}
	}
}