@import "globals";
@import "variables";
@import "breakpoint";

.navbar {
	.container {
		a {
			img {
				width: 220px;
			}
		}
		ul {
			li {
				transition: all .5s ease-in;
				padding: 0 30px 0 0;
				a {
					color: #fff;
					font-weight: 400;
					font-size: 16px;
					letter-spacing: 1px;
					transition: all .3s ease-in-out;
					&:hover {
						color: $colorPink;
					}
				}
			}
		}
		.btn-ticket {
			padding-left: 20px;
		}
	}
}

@include responsive(mobile) {
	.navbar {
		.container {
			a {
				img {
					width: 220px;
				}
			}
			ul {
				li {
					display: none;
					transition: all .5s ease-in;
					padding: 0 30px 0 0;
					a {
						color: #fff;
						font-weight: 400;
						font-size: 16px;
						letter-spacing: 1px;
						transition: all .3s ease-in-out;
						&:hover {
							color: $colorPink;
						}
					}
				}
			}
			.btn-ticket {
					display: none;

				padding-left: 20px;
			}
		}
	}
}



