@import "globals";
@import "variables";
@import "breakpoint";

.sect-sponsor {
	background-color: #fff;
	.container {
		.title {
			h3 {
				color: #151A25;
				font-size: 40px;
				font-weight: 600;
				margin-bottom: 10px;
			}
			width: max-content;
			margin: 0 auto 40px ;
			border-bottom: 2px solid #d54b89;
		}
		.row {
			.img-logo {
				img {
					height: auto;
					width: 150px;
					object-fit: contain;
					margin-bottom: 20px;
				}
			}
		}
		button {
			border: 1px solid #D6377F;
			padding: 6.5px 20px;
			border-radius: 5px;
			font-size: 16px;
			color: #363636;
			transition: all .15s ease-in-out;
			&:hover {
				background-color: #d54b89 !important;
				color: #fff;
			}
		}
	}
}

@include responsive(mobile) {
	.sect-sponsor {
		.container {
			.title {
				h3 {
					font-size: 30px;
					margin-bottom: 10px;
				}
				max-width: max-content;
				margin: 0 auto 40px ;
				width: auto;
			}
			.row {
				.img-logo {
					display: block;
					img {
						height: auto;
						width: 100px;
						object-fit: contain;
						margin-bottom: 20px;
					}
				}
			}
			button {
				padding: 6px 18px;
				border-radius: 5px;
				font-size: 15px;
			}
		}
	}
}